.idea/
!.docker/php/conf.d/.gitkeep
!.docker/php/nginx/.gitkeep
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/vendor/
var/
var/cache/*
var/log
!var/
!./var/cache/.gitkeep
!./var/log/.gitkeep
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> Not share csv files from bank transactions ###
tests/Resources/mercado_pago.csv
tests/Resources/santander_debito.csv
###< Not share csv files from bank transactions ###
